[submodule "ai-service-Final"]
    path = ai-service-Final
    url = https://github.com/B-Crolly/ai-service-Final

[submodule "makeline-service-Final"]
    path = makeline-service-Final
    url = https://github.com/B-Crolly/makeline-service-Final

[submodule "order-service-Final"]
    path = order-service-Final
    url = https://github.com/B-Crolly/order-service-Final

[submodule "product-service-Final"]
    path = product-service-Final
    url = https://github.com/B-Crolly/product-service-Final

[submodule "store-front-Final"]
    path = store-front-Final
    url = https://github.com/B-Crolly/store-front-Final

[submodule "store-admin-Final"]
path = store-admin-Final
url = https://github.com/B-Crolly/store-front-Final

[submodule "virtual-customer-Final"]
path = virtual-customer-Final
url = https://github.com/B-Crolly/virtual-customer-Final

[submodule "virtual-worker-Final"]
path = virtual-worker-Final
url = https://github.com/B-Crolly/virtual-worker-Final